.chat{
    background-color: rgb(240, 232, 232);
    height:100vh;
}
.messenger{
    height: calc(100vh-70px);
    display:flex;
}
.chatMenu{
    flex: 3.5;
}
.chatBox{
    flex: 5.5;
    padding-right:60px;
}
.chatMenuWrapper, .chatBoxWrapper, .chatOnlineWrapper {
    padding: 10px;
}
.chatBoxWrapper{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.chatBoxTop{
    height: 580px;
    overflow-y: scroll;
    padding:15px;
    margin:10px;
}
.chatBoxBottom{
    margin-top: 5px;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.chatMessageInput{
    width:80%;
    height:90px;
    padding:10px;
    min-height: 20px;
    min-width:80%;
}
.chatSubmitButton{
    width:70px;
    height:40px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    background-color: teal;
    color:white;
}
.chatMenuInput{
    width: 90%;
    padding: 10px 0;
    border: 1px solid black;
    border-radius: 10px;
    margin:10px;
}

.noConversationText {
    position: absolute;
    top: 10%;
    font-size: 50px;
    color: rgb(224, 220, 220);
    cursor: default;
  }
.navigateBack{
    padding:15px;
}

.backButton:hover{
    color: white;
    background-color: rgb(144, 144, 144);
    border-radius: 10px;
}