.content {
  width: 75%;
  background-color: antiquewhite;
  height: 100vh;
  padding: 1.5rem;
}
.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.score-label {
  margin-right: 1rem;
  white-space: nowrap;
}
.score-select-input {
  height: 1.75rem;
  padding-block: 0 !important;
}
.screen-centered-div {
  display: grid;
  place-items: center;
  height: 80%;
  font-size: 1.1rem;
  font-weight: 300;
  font-style: italic;
  color: rgb(156, 156, 156);
}
