.content {
  width: 75%;
  height: 100vh;
  padding: 1.5rem;
  background-color: rgb(240, 232, 232); 
}

.content-heading{
  content: "";
  font-family: "Times New Roman", Times, serif;
  color: #040303;  
  font-weight: bold;
}
.d-flex {
  display: flex;
}
.align-items-center {
  font-family: "Times New Roman", Times, serif;
  color: #040303;  
  font-weight: bold;
  font-style: oblique;
}
.align-items-end {
  font-family: "Times New Roman", Times, serif;
  color: #040303;  
  font-weight: bold;
}
.score-label {
  margin-right: 1rem;
  white-space: nowrap;
}
.score-select-input {
  height: 1.75rem;
  padding-block: 0 !important;
}
.screen-centered-div {
  display: grid;
  place-items: center;
  height: 80%;
  font-size: 1.1rem;
  font-weight: 300;
  font-style: italic;
  color: rgb(0, 0, 0);
  position: relative;
}
