.auth-card {
  width: 30%;
  border-radius: 1rem;
  font-family: 'Fira Sans';
  position: relative;
}
.prefernces-card {
  width: 80%;
  border-radius: 1rem;
  font-family: 'Fira Sans';
  position: relative;
}
.prefernces-card .row {
  margin-block: 1rem;
}

.auth-layout {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 112, 1) 20%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 100vh;
  display: grid;
  place-items: center;
}
.auth-card-header {
  font-size: 1.2rem;
  font-weight: 500 !important;
}
.text-input {
  outline: 0;
  box-shadow: none !important;
}
.custom-button {
  background-color: rgba(9, 9, 112, 1);
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.35rem 0.75rem;
  border: 0.5px solid rgba(9, 9, 112, 1);
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  font-size: 0.8rem;
}
.auth-screen-link {
  color: rgba(9, 9, 112, 1);
  text-decoration: underline;
  margin: 0;
  font-size: 0.8rem;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
.auth-error {
  font-size: 0.8rem;
  color: rgb(244, 95, 95);
  margin-top: 0.2rem;
}
.prefernces-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prefs-count {
  color: rgba(9, 9, 112, 1);
  font-size: 0.8rem;
  font-weight: 500;
}
.range-component {
  display: flex;
  justify-content: space-between;
}
.range-component div {
  width: 45%;
}
.text-input .form-check-input:checked {
  background-color: rgba(9, 9, 112, 1);
  border-color: rgba(9, 9, 112, 1);
}
.text-input .form-check-input:focus {
  box-shadow: none;
}
.custom-button:disabled {
  background-color: #ccc;
  border-color: #ccc;
}
